#####################
# Mesh configurations.
#####################

Number of space pts (Nx): 1991
Length of the crystal (Lx): 19.9
Time duration of the sim (Lt): 200.
Group velocity of red light (vg): 0.17828

#####################
# Laser
#####################

Laser wavelength: 0.840

#####################
# Forward laser pulse
#####################

# Single pulse = 0
# Pulse train = 1 (All the pulses have the same amplitude.)
# Etalon = 2 (Amplitude is determined from the partial reflection of first
# reflector.)
Pulse train type: 0

# A single pulse envelop is represented by:
# E(t) = Amplitude * exp[(t-t0)^(2*order)/sigma]
# Order allows to change from Gaussian to Supergaussian
# sigma is calculated from the FWHM.
Order: 1
Pulse time duration (FWHM): 20.
Time center of first pulse (t0): 50.
Amplitude: 1

# Below are configs for pulse train or etalon
Number of pulses in train: 5
Time separation between pulses: 300.
Etalon partial reflection: 0.4

#####################
# Backward laser pulse
#####################

Pulse train type: 0

Order: 1
Pulse time duration (FWHM): 20.
Number of Collision point: 200
First collision point: 16.
Last collision point: 20.
Amplitude: 3

Number of pulses in train: 5
Time separation between pulses: 300.
Etalon partial reflection: 0.4

#####################
# Crystal characteristics
#####################

# For BBO, the indices of refraction for 800 nm are:
# --------------------------
# | Color | Axis |  Value  |
# --------------------------
# |  Red  |  o   | 1.66137 |
# |  Red  |  e   | 1.54618 |
# |  Blue |  o   | 1.69337 |
# |  Blue |  e   | 1.56874 |
# --------------------------
# Red index of refraction: 1.66017
# Blue index of refraction: 1.61955
Red index: 1.659418
Blue Index: 1.61731

#####################
# Detectors / What to save
#####################
Crystal exit single pt: 1
Crystal exit: 0
Diagonal: 1
# Full shg save is disabled in the code right now. Very memory hungry.
Full shg: 0